<a href="https://colab.research.google.com/github/aryanshu/KAGGLE/blob/master/kernel_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pwd

/content

In [2]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
cd './gdrive/My Drive/Colab Notebooks/kaggle'

/content/gdrive/My Drive/Colab Notebooks/kaggle

In [0]:

import numpy as np 
import pandas as pd

In [0]:
df=pd.read_csv("train_transaction.csv")
test=pd.read_csv("test_transaction.csv")
df2=pd.read_csv("train_identity.csv")
test2=pd.read_csv("test_identity.csv")

In [0]:
df.head()

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 394 columns]

In [0]:
df3=pd.merge(df,df2,on="TransactionID",how="left")
df3.head()

   TransactionID  isFraud  ...  DeviceType                     DeviceInfo
0        2987000        0  ...         NaN                            NaN
1        2987001        0  ...         NaN                            NaN
2        2987002        0  ...         NaN                            NaN
3        2987003        0  ...         NaN                            NaN
4        2987004        0  ...      mobile  SAMSUNG SM-G892A Build/NRD90M

[5 rows x 434 columns]

In [0]:
test3=pd.merge(test,test2,on="TransactionID",how="left")

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
listt=[np.int32,np.int64,np.float32,np.float64,np.float16,np.int16]
for feat in df3.columns:
    #if type(df[feat][0])==np.order
    le=LabelEncoder()
    
    if not type(df3[feat][0]) in listt:
         original=df3[feat]
         mask=df3[feat].isnull()
         #df3[feat]=df3[feat].fillna(type(df3[feat][0])(-1000))
         
         df3[feat]=df3[feat].astype(str)
         df3[feat] = le.fit_transform(df3[feat])
         df3[feat][mask]=np.nan

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [0]:
listt=[np.int32,np.int64,np.float32,np.float64,np.float16,np.int16]
for feat in test3.columns:
    #if type(df[feat][0])==np.order
    le=LabelEncoder()
    
    if not type(test3[feat][0]) in listt:
         original=test3[feat]
         mask=test3[feat].isnull()
         #df3[feat]=df3[feat].fillna(type(df3[feat][0])(-1000))
         
         test3[feat]=test3[feat].astype(str)
         test3[feat] = le.fit_transform(test3[feat])
         test3[feat][mask]=np.nan

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [0]:

target=df3.isFraud
X=df3.drop("isFraud",axis=1)
#X=torch.from_numpy(X)
#target=torch.from_numpy()
#to_var(X)
#to_var(target)
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(X,target,test_size=.1)

In [0]:
import lightgbm as lgb
d_train = lgb.Dataset(train_x, label=train_y)
d_val  =lgb.Dataset(test_x,label=test_y)
params = {}
params['learning_rate'] = 0.005
params['boosting_type'] = 'gbdt'
params['objective'] = 'binary'
params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.5
params['num_leaves'] = 200
params['min_data'] = 100
params["metric"]='auc'
params['max_depth'] = -1
params['n_estimators'] = 2000
clf = lgb.train(params, d_train, valid_sets=[d_train,d_val] ,verbose_eval=50,early_stopping_rounds=300)

/usr/local/lib/python3.6/dist-packages/lightgbm/engine.py:118: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training until validation scores don't improve for 300 rounds.
[50]	training's auc: 0.898756	valid_1's auc: 0.892142
[100]	training's auc: 0.905514	valid_1's auc: 0.89881
[150]	training's auc: 0.913273	valid_1's auc: 0.904819
[200]	training's auc: 0.918944	valid_1's auc: 0.909911
[250]	training's auc: 0.923295	valid_1's auc: 0.913355
[300]	training's auc: 0.927637	valid_1's auc: 0.916725
[350]	training's auc: 0.932256	valid_1's auc: 0.920419
[400]	training's auc: 0.936877	valid_1's auc: 0.924211
[450]	training's auc: 0.941263	valid_1's auc: 0.927935
[500]	training's auc: 0.945395	valid_1's auc: 0.931356
[550]	training's auc: 0.949356	valid_1's auc: 0.934413
[600]	training's auc: 0.952621	valid_1's auc: 0.936852
[650]	training's auc: 0.955628	valid_1's auc: 0.939089
[700]	training's auc: 0.958637	valid_1's auc: 0.941312
[750]	training's auc: 0.961499	valid_1's auc: 0.943463
[800]	training's auc: 0.964218	valid_1's auc: 0.945363
[850]	training's auc: 0.966702	valid_1's auc: 0.947174
[900]	training's auc: 0.968878	valid_1's auc: 0.948859
[950]	training's auc: 0.97098	valid_1's auc: 0.950576
[1000]	training's auc: 0.972848	valid_1's auc: 0.952054
[1050]	training's auc: 0.97446	valid_1's auc: 0.95331
[1100]	training's auc: 0.975939	valid_1's auc: 0.954474
[1150]	training's auc: 0.977329	valid_1's auc: 0.955647
[1200]	training's auc: 0.978666	valid_1's auc: 0.956864
[1250]	training's auc: 0.979821	valid_1's auc: 0.957813
[1300]	training's auc: 0.980878	valid_1's auc: 0.958653
[1350]	training's auc: 0.981887	valid_1's auc: 0.959554
[1400]	training's auc: 0.982806	valid_1's auc: 0.960339
[1450]	training's auc: 0.983686	valid_1's auc: 0.96104
[1500]	training's auc: 0.984493	valid_1's auc: 0.961717
[1550]	training's auc: 0.985197	valid_1's auc: 0.962283
[1600]	training's auc: 0.985881	valid_1's auc: 0.962885
[1650]	training's auc: 0.986482	valid_1's auc: 0.9634
[1700]	training's auc: 0.98704	valid_1's auc: 0.963938
[1750]	training's auc: 0.987613	valid_1's auc: 0.964413
[1800]	training's auc: 0.988118	valid_1's auc: 0.964878
[1850]	training's auc: 0.98856	valid_1's auc: 0.96533
[1900]	training's auc: 0.988984	valid_1's auc: 0.965692
[1950]	training's auc: 0.989381	valid_1's auc: 0.96605
[2000]	training's auc: 0.989784	valid_1's auc: 0.966389
Did not meet early stopping. Best iteration is:
[2000]	training's auc: 0.989784	valid_1's auc: 0.966389

In [0]:
"""from sklearn.metrics import roc_auc_score
accuracy=roc_auc_score(test_y,y_pred)
accuracy"""

In [0]:

y_pred=clf.predict(test3)

In [0]:
sub = pd.read_csv('sample_submission.csv', index_col = 'TransactionID')
sub['isFraud']=y_pred
sub.to_csv('submission.csv')
sub.head()

                isFraud
TransactionID
3663549        0.004119
3663550        0.002309
3663551        0.007360
3663552        0.003664
3663553        0.001797

In [0]:
# Install required libraries
!pip install --upgrade pip
!pip install kaggle --upgrade

# Add your PRIVATE credentials (you get them from https://www.kaggle.com > 'Account' > "Create new API token" )
# Do not use "!export KAGGLE_USERNAME= ..." OR "" around your credential
%env KAGGLE_USERNAME=aryanshu1
%env KAGGLE_KEY=5c357d776f9026b184465217b72f618d

# Verify
!export -p | grep KAGGLE_

# Submit (you can find this command from the section "My submissions" within the competition page)
!kaggle competitions submit -c ieee-fraud-detection -f submission.csv -m "first try"

# View results
!kaggle competitions submissions -c ieee-fraud-detection

In [0]:
import pickle

In [0]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
cd './gdrive/My Drive/Colab Notebooks/kaggle'

/content/gdrive/My Drive/Colab Notebooks/kaggle

In [0]:
import pandas as pd
sub=pd.read_csv("sample_submission.csv",index_col='TransactionID')

AttributeError: ignored